
.admin{width:100%;height: 100%;}
.webBack{position: relative;}
.adminInfo{
	width: 50px;
	height: 50px;
	border-radius:50% 50%;
	-webkit-border-radius:50% 50%;
	-moz-border-radius:50% 50%;
	-ms-border-radius:50% 50%;
	-o-border-radius:50% 50%;
	position:absolute;
	top:5px;
	left:8%;
	z-index: 3;
	box-shadow: 0px 0px 1px white;
	-webkit-box-shadow: 0px 0px 1px white;
	-moz-box-shadow: 0px 0px 1px white;
	-ms-box-shadow: 0px 0px 1px white;
	-o-box-shadow: 0px 0px 1px white;
}
.webBack{
	text-align: center; 
	border-bottom:solid 1px black; 
	padding-top:15px;
	padding-bottom: 15px;
	background-color:rgba(31,38,45,1);
	color: white;
}
.admin_manage{width:100%;background-color: rgba(46,54,63,1);height: 100%;}
.manage_nav{float: left;width:20%;text-align: center;}
.manage_deliverArticle{
	float: right;
	width:80%;
	height: 100%;
	text-align: center;
	background-color: rgba(255,255,255,.8);
}
.manage_nav_title{
	width: 100%;
	height: 50px;
	padding-top:10px; 
	font-size: 30px;
	line-height: 30px;
	color: rgba(255,255,255,.6);
    box-shadow:0 -1px 0 rgba(0,0,0,.2) inset;
    -webkit-box-shadow:0 -1px 0 rgba(0,0,0,.2) inset;
    -moz-box-shadow:0 -1px 0 rgba(0,0,0,.2) inset;
    -ms-box-shadow:0 -1px 0 rgba(0,0,0,.2) inset;
    -o-box-shadow:0 -1px 0 rgba(0,0,0,.2) inset;
}
.deliver_article,.manage_article{
	width: 100%;
	height: 50px;
	display:block;
	font-size: 20px;
	line-height: 40px;
	color:white;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	box-shadow:0 -1px 0 rgba(0,0,0,.2) inset;
	-webkit-box-shadow:0 -1px 0 rgba(0,0,0,.2) inset;
	-moz-box-shadow:0 -1px 0 rgba(0,0,0,.2) inset;
	-ms-box-shadow:0 -1px 0 rgba(0,0,0,.2) inset;
	-o-box-shadow:0 -1px 0 rgba(0,0,0,.2) inset;
}
.deliver_article:hover,.manage_article:hover{
   background-color:rgba(39,169,227,1); 
   -webkit-box-shadow: 0px 0px 2px white;
   -moz-box-shadow: 0px 0px 2px white;
   -ms-box-shadow: 0px 0px 2px white;
   -o-box-shadow: 0px 0px 2px white;
   box-shadow: 0px 0px 2px white;
   -webkit-border-radius: 8px 8px;
   -moz-border-radius: 8px 8px;
   -ms-border-radius: 8px 8px;
   -o-border-radius: 8px 8px;
   border-radius: 8px 8px;
   color:red;
}
table{width:100%;}
.col{text-align: right;}
/*article_show.php*/
/*居中容器*/
.bodyBg{background: rgba(228,221,195,1);}
.article_item{width: 80%;margin: 0 auto;}	 
.article_title{
 	text-align: center;
 	padding-top: 20px;
 	padding-bottom: 20px;
 	text-shadow: 1px 1px;
 	-webkit-text-shadow: 1px 1px;
 	-o-text-shadow: 1px 1px;
 	-moz-text-shadow: 1px 1px;
 	-ms-text-shadow: 1px 1px;
}
.article_content{text-indent:2em;line-height: 30px;}
/*article_list.php*/
.wrap{width:100%;height: 100%;font-size: 12px;background-color: rgba(255,255,255,.6);}
.art_nav{width:100%;background-color: rgba(0,255,0,.1);margin-bottom:10px;}
.nav_title{float:left;margin-left:20px;margin:20px;}
.nav{float:right;margin: 30px 60px;}
.art,.contact_us,.about_us{ 
	display: inline-block;
	background: rgba(0,0,0,.5);
	color: white;
	padding: 5px;
	border-radius:5px 5px; 
	-webkit-border-radius:5px 5px;
	-moz-border-radius:5px 5px;
	-ms-border-radius:5px 5px;
	-o-border-radius:5px 5px;
}
.art_list{width: 100%;}
.art_left{float: left;width: 80%;}
.art_right{float: right;width: 20%;}
.art_content{
	box-shadow: 0 0 2px rgba(0,0,0,1);
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,1);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,1);
	-ms-box-shadow: 0 0 2px rgba(0,0,0,1);
	-o-box-shadow: 0 0 2px rgba(0,0,0,1);
	padding: 10px;
	margin-left:10px; 
	margin-bottom: 10px; 
}
.title_wrap{margin-bottom:5px;}
.art_item{margin-bottom:5px;}
.art_search{margin-left:10px;}
.art_author{margin-left:20px; font-size:15px;}
#search_content{
	box-shadow: 0px 0px 1px black;
	-moz-box-shadow: 0px 0px 1px black;
	-ms-box-shadow: 0px 0px 1px black;
	-o-box-shadow: 0px 0px 1px black;
	-webkit-box-shadow: 0px 0px 1px black;
}
/*index.html*/
.loginWrap{
	width:100%;height:100%;position: relative;
    background: url("../img/bg.jpg") no-repeat;
    background-size: cover;
    font-size: 20px;
}
.login{
	width:300px;height: 160px;
    box-shadow: 0 0 5px;
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-150px;
    margin-top:-80px; 
    padding: 10px; 
    border-radius: 10px 10px;
    background-color: rgba(0,255,0,.2);
}
.checkCode,.user,.pwd{margin-bottom: 15px;}
#checkCode{font-size: 20px;width:80px;margin-left:18px;}
.imgCode{margin-bottom:-5px;margin-left:30px;}
.user{margin-top:10px; }
.uesrLonin{text-align: center;}
#submit{border-radius: 6px 6px; font-size: 20px;}
#userPwd{float: right;font-size:20px;}
#user{float: right;font-size:20px;}